@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600px;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: crimson;
    border-radius: 0 0 40px 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header .container a {
    color: white;
}

.content .container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;

}

.content .container .msg {
    color: #fff;
    background-color: crimson;
    width: fit-content;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 0;
    overflow: visible;
}

.content .container .msg p:nth-of-type(1) {
    font-size: 8px;
    font-weight: bold;
    color: #bbb;
    margin-bottom: 5px;
}

.content .container .msg p:nth-of-type(2) {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.content .container .msg p:nth-of-type(3) {
    font-size: 8px;
    font-weight: bold;
    color: lightgreen;
    text-align: right;
}



.content .container .msg:nth-of-type(1) {
margin-top: 70px;
}

.content .container .msg:nth-of-type(2) {
    margin-top: 5px;
    border-radius: 10px 10px 10px 0;
}

.content .container .msg:nth-of-type(3),
.content .container .msg:nth-of-type(5),
.content .container .msg:nth-of-type(7),
.content .container .msg:nth-of-type(9),
.content .container .msg:nth-of-type(11) {
    align-self: flex-end;
    border-radius: 10px 10px 0 10px;
    background-color: #333;
}

.content .container .msg:last-of-type {
    margin-bottom: 80px;
}
.content .container .msg:last-of-type p:last-of-type {
    color: #bbb;
}
.msgInput {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;

}

.msgInput .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msgInput .container input {
    width: 85%;
    height: 35px;
    border-radius: 40px;
    padding: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid crimson;
}

.msgInput .container input:focus {
    color: white;
}
.msgInput .container input::placeholder {
    opacity: 1;
    transition: 0.3s;
}
.msgInput .container input:focus::placeholder {
    opacity: 0;
}

.msgInput .container a {
    color: white;
    font-size: 15px;
    background-color: crimson;
    border-radius: 50%;
    padding: 10px;
    text-decoration: none;
}
